# IDEs
# ====

# PhpStorm
/.idea/

# NetBeans
/nbproject/

# Eclipse

# Others
# ======

# As the config 'ConfigServer.php' is server specific it is not shared accross servers by the repository:
/TTconfig/ConfigServer.php

# Only your stuff belongs to your repository:
# TToolbox will install third-party-packages as they are needed
/thirdparty/

/exclude/
