# IDEs
# ====

# PhpStorm
/.idea/

# NetBeans
/nbproject/

# Eclipse

# Others
# ======

# As the config 'Config_server.php' is server specific it is not shared accross servers by the repository:
/TTconfig/Config_server.php
#@deprecated: Old name:
#[home,work,qnote,demo,core]
/TTconfig/init_server.php

# Only your stuff belongs to your repository:
# TToolbox will install third-party-packages as they are needed
/thirdparty/

/exclude/
