body {
	padding-top: 70px;
}

nav.menu {
	border: 2px dashed red;
	margin: 10px;
}

nav.menu:before {
	content: "nav.menu:";
	background: red;
}

nav.breadcrumbs {
	border: 2px dashed green;
	margin: 10px;
}

nav.breadcrumbs:before {
	content: "nav.breadcrumbs:";
	background: green;
}

div.inner_body {
	border: 2px dashed blue;
	margin: 10px;
}

div.inner_body:before {
	content: "div.inner_body:";
	background: blue;
}

nav.breadcrumbs:before,
nav.menu:before,
div.inner_body:before {
	font-family: monospace;
	color: white;
	border-radius: 5px;
	padding: 2px 5px;
}
