nav {
	border: 2px dashed red;
	margin: 10px;
}

nav:before {
	content: "nav:";
	background: red;
}

div.inner_body {
	border: 2px dashed blue;
	margin: 10px;
}

div.inner_body:before {
	content: "div.inner_body:";
	background: blue;
}

nav:before,
div.inner_body:before {
	font-family: monospace;
	color: white;
	border-radius: 5px;
	padding: 2px 5px;
}
